<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="UTF-8">
	<title><%-name%></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://nsfi.github.io/ui-base/stylesheets/normalize.css" media="screen">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="https://nsfi.github.io/ui-base/stylesheets/stylesheet.css" media="screen">
	<link rel="stylesheet" type="text/css" href="https://nsfi.github.io/ui-base/stylesheets/github-light.css" media="screen">
	<link rel="stylesheet" href="http://codemirror.net/lib/codemirror.css">
	<link rel="stylesheet" href="https://codemirror.net/theme/solarized.css">

    <% if (componentStyle) { %>
    <link rel="stylesheet" href="<%-componentStyle%>">
    <% } %>
	<style>
		.g-mnc{
			display:flex;
			padding: 2rem 3rem;
		}
		.html, .js{
			flex:1.2;
		}
		.result{
			flex:1.5
		}
		.html, .js, .result{
			position: relative;
			border-radius: 4px;
			border: 1px solid #ecf0f1;
			overflow: hidden;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			margin-right:10px;
			height:400px;
		}

		.html h3, .js h3, .result h3{
			display:none;
			position: absolute;
			top:0;
			right:0;

		}

		.html:hover h3, .js:hover h3,.result:hover h3{
			display:block;
			z-index:999;
			color:#fff;
			font-weight:normal;
			border-bottom-left-radius: 4px;
			border: 1px dashed #ccc;
			background-color: #ccc;
			padding:0.2rem;
			font-size:16px;
			margin:0;
		}

		.js{
			display:flex;
			flex-direction: column;
		}
		.js .prefix{
			height:400px;
			overflow:scroll;
		}
		.js .suffix{
			height:300px;
			overflow:scroll
		}
		.g-ft{
			color: #fff;
			position:fixed;
			bottom:0;
			width:100%;
			text-align: center;
			background-color: #159957;
			background-image: linear-gradient(120deg, #155799, #159957);

		}
		.g-ft .btn{
			margin:0.5rem;
			padding: 0.5rem 6rem;
		}
		.btn:hover{
			cursor: pointer;
		}

		/*样式修改*/
		.cm-s-solarized.CodeMirror{
			-moz-box-shadow:none;
			box-shadow:none;
		}
	</style>

	<style>
		.m-demo{
			text-align:center
		}
		.m-demo input[type='text']{
			padding:10px;
			line-height:15px;
			width:300px;
		}
	</style>
</head>
<body>
<section class="page-header">
	<h1 class="project-name"><%-name%></h1>
	<h2 class="project-tagline"><%-description%></h2>
	<a href="https://github.com/NSFI/<%-name%>" class="btn">View on GitHub</a>
	<a href="https://github.com/NSFI/<%-name%>/zipball/master" class="btn">Download .zip</a>
	<a href="https://github.com/NSFI/<%-name%>/tarball/master" class="btn">Download .tar.gz</a>
</section>
<section>
	<div id="app"></div>
</section>
<script src="https://cdn.bootcss.com/vue/2.0.0-rc.3/vue.js"></script>
<script src="https://nsfi.github.io/ui-base/sfvue.js"></script>
<script src="https://codemirror.net/lib/codemirror.js"></script>
<script src="https://regularjs.github.io/bower_components/codemirror/mode/javascript/javascript.js"></script>
<script src="https://regularjs.github.io/bower_components/codemirror/mode/xml/xml.js"></script>

<section>
	<!--主体模块-->
	<template id="syntax-editor">

		<div class="g-bd">
			<div class="g-mnc">
				<div class="html">
					<h3>template</h3>
					<div class="bd"></div>
				</div>
				<div class="js">
					<h3>javascript</h3>
					<div class="prefix"></div>
					<div class="bd"></div>
					<div class="suffix"></div>
				</div>
				<div class="result">
					<h3>result</h3>
					<div id='dashboard'></div>
				</div>
			</div>
			<div class="g-ft">
				<div class="eval">
					<a class='btn' @click="run">运行</a>
				</div>
			</div>
		</div>

	</template>

	<!-- 组件模板 bd -->
	<template id="component">
<%-template%>
	</template>

	<!-- 组件模板 prefix -->
	<template id="vue-prefix">
window.App = new Vue({
			template:document.getElementById('component').innerHTML.trim(),
	</template>
	<template id="vue-bd">
<%-app%>
	</template>
	<!-- 组件模板 suffix -->
	<template id="vue-suffix">
		}).$mount('#dashboard');
	</template>

</section>
<script>

	var editor =new Vue({
		template : '#syntax-editor',
		data: function(){
			return {
				name : 1
			}
		},
		mounted: function(){
			// initialize html editor
			this.htmlEditor = CodeMirror(this.$el.querySelector('.html .bd'), {
				mode: 'xml',
				theme: 'solarized',
				tabSize: 2,
				value:document.getElementById('component').innerHTML.trim(),
				extraKeys: {
					Tab: function(cm) {
						var spaces = new Array(cm.getOption("indentUnit") + 1).join(" ")
						cm.replaceSelection(spaces, "end", "+input")
					}
				}
			});


			// initialize javascript editor

			this.jsEditor = CodeMirror(this.$el.querySelector('.js .bd'), {
				mode: 'javascript',
				theme: 'solarized',
				tabSize: 2,
				value : document.getElementById('vue-bd').innerHTML.trim(),
				autofocus: true,
				dragDrop: false,
				extraKeys: {
					Tab: function(cm) {
						var spaces = new Array(cm.getOption("indentUnit") + 1).join(" ")
						cm.replaceSelection(spaces, "end", "+input")
					}
				}
			});

			this.jsPrefix = CodeMirror(this.$el.querySelector('.js .prefix'), {
				mode: 'javascript',
				theme: 'solarized',
				value:  document.getElementById('vue-prefix').innerHTML.trim(),
				tabSize: 2,
				readOnly: 'nocursor',
				extraKeys: {
					Tab: function(cm) {
						var spaces = new Array(cm.getOption("indentUnit") + 1).join(" ")
						cm.replaceSelection(spaces, "end", "+input")
					}
				}
			});

			this.jsSuffix = CodeMirror(this.$el.querySelector('.js .suffix'), {
				mode: 'javascript',
				theme: 'solarized',
				tabSize: 2,
				value: document.getElementById('vue-suffix').innerHTML.trim(),
				readOnly: 'nocursor',
				extraKeys: {
					Tab: function(cm) {
						var spaces = new Array(cm.getOption("indentUnit") + 1).join(" ")
						cm.replaceSelection(spaces, "end", "+input")
					}
				}
			});

			this.run();
		},

		methods: {
			run : function(){
				var tpl = this.htmlEditor.getValue().trim(),
					jsCode = this.jsEditor.getValue().trim(),
					suffix = this.jsSuffix.getValue().trim(),
					prefix = this.jsPrefix.getValue().trim(),
					that = this;

				document.getElementById('component').innerHTML = tpl;

				this.evalComponent([prefix, jsCode, suffix].join('\n'));
			},

			evalComponent: function(code){
				window.App && window.App.$destroy();
				eval(code);
			}
		}
	}).$mount('#app');


</script>
</body>
</html>
